* {
 user-select: none;
}
html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	transition: all 700ms;
}

.background0{
	background-color: #0b0510;
	overflow: hidden;
	height: 100vh;
}

.background1{
	background-color: #0b0510;
}

.background2{
	background-color: #251036;
}

.background3{
	background-color: #3f1b5c;
}

.background4{
	background-color: #662d91;
}

.background5{
	background-color: #ccacc8;
}

.background6{
	background-color: #ffd7fb;
}


.title{
	color: white;
	font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
 	margin-top: 0;
 	margin-bottom: 0;
  position: relative;
}

a, lu {
	color: white;
	font-family: "Baskervville", serif;
	font-weight: 400;
  font-style: normal;
  transition: all 700ms;
}

a{
	text-decoration: none;
	font-weight: bold;
}

p, li{
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
  font-style: normal;
  margin: 0vh 0 ;
  transition: all 700ms;
}

.list{
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

.subtitle{
	font-size: 2vw;
}

.normalText{
	font-size: 1.3vw;
}

.justified{
	text-align: justify;
}

.p5{
	width: 65%;
}

.bigText{
	line-height: 65%;
	font-size: 5vw;
}

.btn_login{
	position: absolute;
	color: white;
	top: 12px;
	right: 50px;
	border-radius: 9999px;
	aspect-ratio: 1;
	font-size: 35px;
	border: none;
	background-color: rgba(0, 0, 0, 0.0);
	transition: all 700ms;
}

.btn_login:hover{
	cursor: pointer;
}

.section_title{
	font-size: 3vw;
}

.header{
	position: sticky;
	top: 0;
	display: flex;
	gap: 5%;
	justify-content: center;
	align-items: center;
	padding: 1vh 0vh;
	z-index: 2;
	backdrop-filter: blur(10px);
}

.top{
	height: 10vh;
}

.navbar_logo{
	width: 3vw;
	transform: translateY(47vh) translateX(40px) scaleX(0);
	opacity: 1;
}

.logoSmall{
	width: 30vw;
}

.phoneTitle{
	font-size: 6vw;
}

.init_title{
	background-color: #0b0510;
}

.init_title:hover{
	cursor: pointer;
}

section{
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.section_1, .section_4, .section_5{
	margin-bottom: 18vh;
}

.playAnim{
	animation: initTitle 0.5s ease-in-out forwards;
}

.logoPlayAnim{
	animation: initLogo 2s ease-in-out forwards;
}

@keyframes initLogo{
	10%{
		opacity: 0;
	}

	12%{
		opacity: 1;
		transform: translateY(47vh) translateX(40px)  scaleX(1);
	}

	50%{
		opacity: 1;
		transform: translateY(47vh)  translateX(40px)  scale(3);
	}

	70%{
		opacity: 1;
		transform: translateY(47vh) translateX(40px)  scale(3);
	}

	100%{
		transform: scale(1);
	}
}

@keyframes initTitle{
	0%{

	}

	80%{
		opacity: 1;
	}

	90%{
		transform: scaleX(0);
		display: block;
	}

	92%{
		opacity: 0;
		display: none;
	}

	100%{
		display: none;
	}
}

.page{
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 100%;
	transition: all 2s;
	opacity: 1;
}


.contentWrapper{
	display: flex;
	height: 100%;
	width: 100%;
	position: relative;
}

.leftPanelWrapper{
	flex:1;
	display: flex;
	gap: 5vh;
	flex-direction: column;
	justify-content: center;
}

.rightPanelWrapper{
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputWrapper{
	flex:1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6vh;
	padding-top: 22vh;
}

.textWrapper, .inputWrapper2{
	flex:1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4vh;
}

.mapWrapper{
	flex:1;
}

input{
	font-family: "Montserrat", sans-serif;
  font-style: normal;
  transition: all 700ms;
	color: #251036;

	font-size: 3vh;

	border: none;
	width: 50%;
	border-radius: 900px;
	background-color: white;
	padding: 1vh 2vw;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

textarea{
	font-family: "Montserrat", sans-serif;
  font-style: normal;
  transition: all 700ms;
	color: #251036;
	resize: none;

	font-size: 3vh;

	border: none;
	width: 50%;
	height: 20vh;
	border-radius: 10px;
	background-color: white;
	padding: 1vh 2vw;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.submitbtn{
	color: white;
	font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  transition: all 700ms;
  font-size: 3vh;
  text-align: center;
	border: none;
	width: 40%;
	border-radius: 900px;
	background-color: #3f1b5c;
	padding: 1vh 2vw;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.submitbtn:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition: background-color 5ms transform 500ms;
}

.submitbtn:active{
	background-color: #fff;
	color: #3f1b5c;
	transition: background-color 5ms;
}


.btnCompra{
	color: #3f1b5c;
	font-family: "Montserrat", serif;
  font-weight: bold;
  font-style: normal;
  transition: all 700ms;
  font-size: 3vh;
  text-align: center;
	border: none;
	width: 40%;
	border-radius: 900px;
	background-color: #ffd7fb;
	padding: 1vh 2vw;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.btnCompra:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition: background-color 5ms transform 500ms;
}

.btnCompra:active{
	background-color: #fff;
	color: #3f1b5c;
	transition: background-color 5ms;
}

.btnDenuncia{
	color: #3f1b5c;
	font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  transition: all 700ms;
  font-size: 3vh;
  text-align: center;
	border: none;
	width: 40%;
	border-radius: 900px;
	background-color: #ffd7fb;
	padding: 1vh 2vw;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}



.mapWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

.mapImg{
	width: 80%;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.problemImage{
	width: 90%;
}

.phoneImg, .contactImg{
	height: 80%;
}

.talkImg{
	width: 100%;
}

.loaderCard{
	position: absolute;
	left: 45%;
	top: 30%;

	background-color: white;
	width: 40vw;
}

.loader {
  border: 20px solid #ffd7fb; /* Light grey */
  border-top: 20px solid #3f1b5c; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s cubic-bezier(0.34, 0.1, 0.38, 0.68) infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.bolder{
	font-weight: 600;
}

.noMargin{
	margin-bottom: -2vh;
}

.show{
	display: flex;
	opacity: 0;
	transform: translateY(20px);
}

.hidden{
	display: none;
	opacity: 0;
}